.container{
    margin: 2%;
    align-items: center;
    display: flex;
    button{
        font-size: 16px;
    }
}

.content {
    margin: 1%;
    //background-color: #F7F7F7;
    border-radius: 5px;
}

.subcontent{
    padding: 2%;
}