<h5 style="text-align: center;" class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-white ">Nuevo Usuario</h5>

<form [formGroup]="userForm" class="w-full" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-5">
    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
    <input type="text" id="username" class="form-control" placeholder="Username" formControlName="username">
    <div *ngIf="userForm.get('username')?.hasError('required') && userForm.get('username')?.touched" class="form-error">Usuario requerido</div>
  </div>
  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
    <input type="email" id="email" class="form-control" placeholder="Email Address" formControlName="email">
    <div *ngIf="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched" class="form-error">Email requerido</div>
  </div>
  <div class="mb-5">
    <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
    <input type="text" id="firstName" class="form-control" placeholder="First Name" formControlName="firstName">
    <div *ngIf="userForm.get('firstName')?.hasError('required') && userForm.get('firstName')?.touched" class="form-error">Nombre requerido</div>
  </div>
  <div class="mb-5">
    <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido</label>
    <input type="text" id="lastName" class="form-control" placeholder="Last Name" formControlName="lastName">
    <div *ngIf="userForm.get('lastName')?.hasError('required') && userForm.get('lastName')?.touched" class="form-error">Apellido requerido</div>
  </div>
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password">
    <div *ngIf="userForm.get('password')?.hasError('required') && userForm.get('password')?.touched" class="form-error">Password requerido</div>
  </div>
  <button [disabled]="userForm.invalid" type="submit" class="text-white ms-2 bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
  <button type="button" (click)="onClose()" class="text-white ms-2 bg-gray-700 hover:bg-gray-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">Cancel</button>
</form>