<div class="dialog">
    <h3 style="color: black;">Detalle de Grupo </h3>
    <mat-dialog-content>
        <div class="row">
            <div class="column title">
                Name:
            </div>
            <div class="column">
                {{group.name}}
            </div>
        </div>
        <div class="row">
            <div class="column title">
                Path:
            </div>
            <div class="column">
                {{group.path}}
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Salir</button>
    </mat-dialog-actions>
</div>