<div class="flex justify-between items-center mb-6">
    <h4 class="font-bold text-2xl"></h4>
    <button type="button" (click)="openModel()"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-full px-6 py-3 text-center mb-2 ">Add Usuario</button>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <caption
        class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
        Administrador de usuarios
      </caption>
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Nombre
          </th>
          <th scope="col" class="px-6 py-3">
            Apellido
          </th>
          <th scope="col" class="px-6 py-3">
            Email
          </th>
          <th scope="col" class="px-6 py-3">
            Username
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td scope="row" class="px-6 py-4">
            {{item.firstName}}
          </td>
          <td class="px-6 py-4">
            {{item.lastName}}
          </td>
          <td class="px-6 py-4">
            {{item.email}}
          </td>
          <td class="px-6 py-4">
            {{item.username}}
          </td>
          <td class="px-6 py-4">
            {{item.roles}}
          </td>
          <td class="px-6 py-4 text-right">
            <button type="button" (click)="item.id && loadUser(item)"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-4">Edit</button>
            <button type="button" (click)="item.id && deleteUser(item.id)"
              class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <app-model [isOpen]="isModelOpen" (closeModel)="closeModel()">
    <app-user-form (onCloseModel)="closeModel()" [data]="user"></app-user-form>
</app-model>